@use "@/styles/abstract/colors";


.glow{
    background-repeat: no-repeat;
    background-position: center center;
    width: 300px;
    border-radius: 100%;
    aspect-ratio: 1;
    position: absolute;
    z-index: -1;

    &-red {
        background: radial-gradient(colors.$red-soft, transparent 70%);
    }
    &-purple {
        background: radial-gradient(colors.$purple-soft, transparent 70%);
    }
    &-lightblue {
        background: radial-gradient(colors.$lightblue-soft, transparent 70%);
    }
    
}

