# .env (root level)
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/nx_db
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=root
LINK_VALUE=http://localhost:8080
SENDGRID_API_KEY=SG.123
DOMAIN=newsletterx.mangopulse.net