$primary-color: #d42834;
$secondary-color: #a32ec0;
$white: #f4f4f4;

$background-dark-900: #0f0f18;
$background-dark-800: #1e1e2f;
$background-dark-700: #353544;
$background-dark-600: #4b4b59;

$primary-gradient: linear-gradient(135deg, $primary-color, $secondary-color);

$red-soft: #e4325f44;
$purple-soft: #9a32e444;
$lightblue-soft: #43afcd44;

// UI components
$submitBtnColor: #4090b4;



